<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="icon" href="../images/logo.png" />
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <div class="container mt-5">
      <div class="row">
        <div class="col text-center">
          <img class="img-thumbnail rounded-circle" width="200px" src="../images/me.jpg" alt="syahrul" />
          <h1 class="display-4">Admin</h1>
          <p>Syahrul Kurniawan</p>
        </div>
      </div>
    </div>
  </body>
</html>
