<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <div class="card mt-5 container" style="width: 18rem">
      <div class="card-body">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="150px" class="rounded-circle" alt="" />
        <h1 class="card-title"><%= users.nama %></h1>
        <p class="card-text">Email :<%= users.email%></p>
        <p class="card-text">Password :<%= users.password%></p>
        <p class="card-text">User ID :<%= users.id%></p>

        <p>Bio: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam repellendus repellat quaerat officia</p>

        <a href="/users" class="btn btn-warning">Kembali</a>
      </div>
    </div>
  </body>
</html>
