<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <style>
      body {
        background-color: #212529 !important;
        color: white;
        align-items: center !important;
        margin: 1rem;
      }
      .form-text {
        color: white !important;
      }

      .form-control {
        width: 80%;
      }

      @media (min-width: 900px) {
        body {
          background-color: #212529 !important;
          color: white;
          align-items: center !important;
          margin: 10rem 0 0 20rem !important;
        }
        .form-text {
          color: white !important;
        }

        .form-control {
          width: 50%;
        }
      }
    </style>
  </head>

  <body>
    <div class="container-fluid container-sm mt-5">
      <h1>Login</h1>
    </div>
    <form action="/" method="post" id="login-form" class="container-fluid container-sm mt-5">
      <div class="mb-3">
        <label for="email-address" id="email-address" class="form-label">Email Address</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password-1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control form-width password" id="exampleInputPassword1" />
      </div>

      <div class="mb-3 container-fluid container-sm">
        <a href="/register">Don't have an account? Register here</a>
      </div>

      <button type="submit" class="btn btn-warning">Login</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
