<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="icon" href="../images/logo.png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <style>
      .button {
        position: absolute;
        right: 75px;
        top: 110px;
      }
      @media (max-width: 767.98px) {
        .button {
          position: relative;
          left: 0;
          top: 0;
        }
        .hapus {
          position: relative !important;
          left: 0;
          top: 0;
        }
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <div class="container mt-5">
      <h1>DAFTAR USERS</h1>
      <a href="/register"
        ><button class="btn btn-warning button"><i class="bi bi-plus-circle-dotted"></i> Tambah Data</button></a
      >
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Last Played</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% let no = 1; %> <% if(users) { %><% users.forEach(user => { %>
          <tr>
            <td><%= no++ %></td>
            <td><%= user.nama %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>2023-01-23 07:18:41.403+07</td>

            <td>
              <a href="/users/<%= user.nama %>"
                ><button type="button" class="btn btn-warning badge"><i class="bi bi-info-circle"></i> Detail</button></a
              >
              <a href="/edit/<%= user.id%>/<%= user.nama %>"
                ><button type="button" class="btn btn-success ms-3 me-2 badge"><i class="bi bi-pencil-square"></i> Edit</button></a
              >
              <form action="/delete/<%= user.id %>" method="post" class="btn">
                <button type="submit" class="btn btn-danger badge hapus"><i class="bi bi-trash3"></i> Hapus</button>
              </form>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="5">Data not found</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
